* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}

a{
    text-decoration: none;
}

a img {
    border: none;
}
  
button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}

/*css reset*/

section {
    height: 100vh;
    width: 100%;
}

.landing {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
}

.logo {
    position: absolute;
    max-height: 200px;
    left: 20px;
    top: 20px;
    z-index: 1;
}

.list {
    position: fixed;
    z-index: 100;
    justify-content: space-between;
    align-content: center;
    display: flex;
    top: 10px;
    left: 10%;
    list-style-type: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px #ffffff solid;
    background: #C38F3E;
    border-radius: 5px;
    
    
}

.list li {
    margin: 10px 30px;

}

a{
    width: fit-content;
    display: inline-block;
    padding: 5px;
}


.navbar {
    display: grid;
    align-items: center;
    width: 100%;
    top: 10%;
 
}

.list a:hover {
    color: #D6CFC6;
}

.bg1 {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.bg2 {
    position: absolute;
    height: 100vh;
    object-fit: scale-down;
    top: 10%;

}

.welcome_message {
    width: 100vh;
    position: relative;
    top: 200px;
    left: 10%;
    text-align: left;
    color: #ffffff;
}

.név {
    font-size: 70px;
    font-weight: bold;
    padding-bottom: 40px;

}

.szükség {
    padding: 20px 0px;
    font-size: 35px;
    display: inline;
    border-top: 2px #ffffff solid;

}

.fö_btn {
    position: relative;
    z-index: 1;
    width: 240px;
    height: 60px;
    background-color: #70912c;
    left: 10%;
    top: 50%;
    border-radius: 5px;
    box-shadow: -10px 10px 50px black;
    font-size: 20px;
    color: rgb(255, 255, 255);

}
